@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');


html {
    box-sizing: border-box;
    font-family: 'Solitreo', cursive;
  }
  
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-image: linear-gradient(260deg, #063738 0%, #f4924c 100%);
    margin: 0;
  }
  
  a {
    background: rgba(0,0,0,.2);
    color: #fff;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px 5px;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
    width: 100%;
  }
  
  a:hover {
    background:rgba(0,0,0,.3);
  }
  
  .toggleNav {
    display: none;
  }
  
  img.w {
    width: 100%;
  }
  
  .h {
    width: 50%;
    
  }
  #wrapper {
    margin: 0 auto;
    max-width: 1000px;
  }
  
  input {
    border: 0;
    padding: 10px;
  }

  h2 {
    color: #fff;
  }
  
  section, 
  footer {
    background: rgba(0,0,0,.2);
    color: #fff;
    font-weight: bold;
    margin: 20px 0;
    padding: 20px;
    /* text-align: center; */
  }
  
  .fl {
    float: left;
    padding: 1rem;
    clear: left;
  }
  .fr {
    float: right;
    padding: 1rem;
    clear: right;
  }
  .b {
    height: 350px;
  }
  /* Flex Container */
  .flex-nav ul {
    border: 1px solid #000;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  /* flex item */
  .flex-nav li {
    flex: 3;
  }
  
  .flex-nav .social {
    flex: 1;
  }

  /* Ordered List */
  p.source { 
    color: rgba(255,255,255,.5); 
    font-size: .8em; 
    font-style: italic; 
    margin: 0 0 0 20px; 
  }
  
  p.source a { 
    color: rgba(255,255,255,.75); 
    padding-left: 7px; 
  }
  
  /* Objectives */
  ol.objectives { 
    list-style-type: none; 
    margin: 0 0 0 30px;
 
  }
  
  ol.objectives li { 
    color: #ccffff;
    counter-increment: myCounter; 
    font-size: 1.5rem;
    margin: 5px 0 45px 0; 
    padding: 43px 0 0 65px;
    position: relative;
    }
  
    ol.objectives li::before { 
    background-color: #f4924c77; 
    border-radius: 5px; 
    color: #6D00cb99; 
    content: counter(myCounter, decimal-leading-zero); 
    display: inline-block; 
    font: 2em/1.3em 'Roboto', sans-serif;
    font-weight: 900;
    left: -40px;
    padding: .5rem;
    position: absolute;
    text-align: center; 
    top: 0;
  }
  
  ol.objectives li em {
    color: #fff;
    display: block;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .3em;
    margin: 0 0 -5px 0;
    text-transform: uppercase;
  }
  
  ol.objectives li strong {
    color: #fff;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    font-weight: 900;
    margin: 0;
  } 
  
  /* Form */
  section.signup {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    background-image: url(Deliverables/Adverts/KitchenLingua-EmailAdvert.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 800px;
    height: 570px;
    position: relative; 
  }

  form {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 15px;
    left: 10px;
  }

  .break {
    flex-basis: 50%;
    font-family: 'Solitreo', cursive;
    font-size: 1.5rem;
    color: #fff;
    background-color: #6D00cb;
  }

  @media all and (max-width: 1000px) {
    .flex-nav ul {
      flex-wrap: wrap;
    }
  
    .flex-nav li {
      flex: 1 1 25%;
    }
  
    .flex-nav .social {
      flex: 1 1 10%;
    }
  }
  
  @media all and (max-width: 500px) {
    .flex nav li {
      flex-basis: 100%;
    }  
  
    /* flex container */
    #wrapper {
      display: flex;
      flex-direction: column;
  
    }
  
    /* flex item */
    #wrapper > * {
      order: 10;
    }
    .flex-nav {
      order: 1;
    }
  
    .toggleNav {
      display: block;
    }
  
    .flex-nav ul {
      display: none;
    }
  
    .flex-nav ul.open {
      display: flex;
    }
  
    .top {
      order: 2;
    }
  
    .details {
      order: 3;
    }
  
    .signup {
      order: 4;
    }
  }

  